# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.tox/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Flask
instance/
.flaskenv

# Environment variables
.env
.flaskenv

# Database
*.db
*.sqlite3

# Uploads/Downloads
attachments/

# IDEs
.vscode/
.idea/

# Fly.io
.fly/
